Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript, bicep-build

.pre-commit-config.yaml:

# Pre-commit configuration for Sutra
# Run: pip install pre-commit && pre-commit install

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key

  # Frontend linting and formatting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: npm run format
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yml|yaml)$
        pass_filenames: false
        exclude: (node_modules/|\.venv/|dist/|coverage/)

      - id: typescript
        name: TypeScript
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        language_version: python3
        files: api/.*\.py$

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=127, --extend-ignore=E203, W503]
        files: api/.*\.py$

  # Security
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: package-lock.json

  # Azure/Infrastructure
  - repo: local
    hooks:
      - id: bicep-build
        name: Bicep Build
        entry: bash -c 'cd infrastructure && az bicep build --file persistent.bicep && az bicep build --file compute.bicep'
        language: system
        files: \.bicep$
        pass_filenames: false

# Fast hooks run first, slower ones later
default_stages: [commit]
fail_fast: false

feat: Test Coverage Excellence - 92% Backend Coverage with 100% Test Success
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/admin_api/admin_test.py
  api/collections_api/collections_test.py
  api/coverage.xml
  api/integrations_api/integrations_test.py
  api/playbooks_api/playbooks_test.py
  docs/metadata.md
  scripts/local-validation.sh
Due: prettier

fix: E2E validation gaps and Docker healthcheck improvements
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  PROJECT_HANDOFF.md
  api/Dockerfile.dev
  docker-compose.yml
  docs/metadata.md
Due: prettier

fix: Install Azure Functions Core Tools in Docker container
  api/Dockerfile.dev
  scripts/local-validation.sh
Due: none

fix: Add verbose Azure Functions container startup logging
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/Dockerfile.dev
Due: none

fix: Enhanced Docker debugging and E2E testing
  api/Dockerfile.dev
  scripts/test-e2e-local.sh
Due: none

fix: Ultra-simplified Azure Functions Docker container
  api/Dockerfile.dev
Due: none

fix: Add curl to Docker container for healthcheck
  api/Dockerfile.dev
Due: none

feat: Complete E2E Docker validation with ARM64 Mac support
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  E2E_VALIDATION_SUMMARY.md
  api/Dockerfile.dev
  docker-compose.yml
  scripts/validate-e2e-docker.sh
  scripts/validate-e2e-simple.sh
Due: prettier

🔧 Fix CI/CD failure: Azure Functions import issues
  api/Dockerfile.dev
  api/admin_api/__init__.py
  api/collections_api/__init__.py
  api/health/__init__.py
  api/integrations_api/__init__.py
  api/llm_execute_api/__init__.py
  api/playbooks_api/__init__.py
  api/prompts/__init__.py
  api/shared/middleware.py
  scripts/fix-imports.sh
  scripts/validate-e2e-ci-mirror.sh
  scripts/validate-e2e-debug.sh
  scripts/validate-e2e-fast.sh
Due: none

feat: 🧹 Complete project cleanup and organization
  .gitignore
  Dockerfile.e2e
  E2E_VALIDATION_SUMMARY.md
  PROJECT_HANDOFF.md
  README.md
  api/admin/function.json
  api/integrations/function.json
  api/llm_execute/function.json
  api/playbooks/function.json
  api/requirements.txt
  docs/metadata.md
  infrastructure/compute.bicep
  infrastructure/parameters.compute.json
  infrastructure/persistent.bicep
  public/staticwebapp.config.json
  scripts/deploy-apim-migration.sh
  scripts/deploy-no-gateway.sh
  scripts/fix-imports.sh
  scripts/git-pre-commit-hook.sh
  scripts/pre-commit-validation.sh
  scripts/rollback-apim-migration.sh
  scripts/test-apim-migration.sh
  scripts/test-azure-functions-validation.sh
  scripts/test-docker-validation.sh
  scripts/test-e2e-local.sh
  scripts/test-health-check-validation.sh
  scripts/test-namespace-collisions.sh
  scripts/validate-authentication.sh
  scripts/validate-e2e-debug.sh
  scripts/validate-e2e-fast.sh
  scripts/validate-e2e-simple.sh
  scripts/validate-no-gateway.sh
  src/components/auth/AuthProvider.tsx
  src/components/auth/LoginPage.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
Due: eslint, prettier, typescript, bicep-build

Fix frontend tests and address authentication issues
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/prompts/prompts_test.py
  api/shared/middleware_test.py
  scripts/local-validation.sh
  src/components/auth/AuthProvider.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
Due: eslint, prettier, typescript

Complete frontend and backend test fixes
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/prompts/prompts_test.py
  api/shared/middleware_test.py
Due: none

feat: restore E2E Docker files and enhance validation
  Dockerfile.e2e
  nginx.conf
  scripts/local-validation.sh
Due: none

feat: add development deployment scripts to .gitignore
  .gitignore
Due: none

feat: Add comprehensive E2E testing infrastructure and deployment configurations
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  STEP_8_DEPLOYMENT_TROUBLESHOOTING.md
  STEP_8_FINAL_SOLUTION.md
  api/local.settings.json.backup
  api/local.settings.json.e2e
  api/requirements-swa.txt
  docker-compose.e2e-arm64.yml
  docker-compose.e2e-no-cosmos.yml
  docker-compose.test.yml
  docker-compose.yml
  scripts/e2e-cleanup.sh
  scripts/e2e-setup-enhanced.sh
  scripts/e2e-setup.sh
Due: prettier

temp: Disable E2E tests in CI/CD to unblock Azure deployment
  .github/workflows/ci-cd.yml
Due: prettier

docs: Add guide for re-enabling E2E tests in CI/CD
  E2E_RE_ENABLE_GUIDE.md
Due: prettier

fix: Update Azure authentication and deployment setup
  .github/workflows/ci-cd.yml
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  AZURE_SETUP_GUIDE.md
Due: prettier

Fix Azure authentication in CI/CD pipeline
  .github/workflows/ci-cd.yml
Due: prettier

Fix Azure deployment configuration
  .github/workflows/ci-cd.yml
Due: prettier

Remove function app health check to fix deployment
  .github/workflows/ci-cd.yml
Due: prettier

Fix deployment by separating frontend and API deployments
  .github/workflows/ci-cd.yml
Due: prettier

Add comprehensive risk mitigation strategies to CI/CD pipeline
  .github/workflows/ci-cd.yml
Due: prettier

Fix Azure Functions deployment permission issues
  .github/workflows/ci-cd.yml
Due: prettier

fix(ci): Address Azure CLI 'content already consumed' error
  .github/workflows/ci-cd.yml
Due: prettier

fix(ci): Improve permission handling in Azure Functions deployment
  .github/workflows/ci-cd.yml
Due: prettier

fix(ci): Enhanced GitHub Actions permission handling for Azure deployment
  .github/workflows/ci-cd.yml
Due: prettier

fix(auth): Update authentication for Entra External ID and add dev bypass
  api/shared/auth.py
Due: none

Fix authentication tests to use Entra External ID secret names
  api/shared/auth_test.py
Due: none

Fix Static Web Apps 401 error - allow anonymous access
  public/staticwebapp.config.json
Due: prettier

Refactor authentication and role model to comply with UX specification
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/conftest.py
  api/prompts/prompts_test.py
  api/shared/auth.py
  api/shared/auth_mocking.py
  api/shared/auth_test.py
  api/shared/models.py
  api/shared/validation.py
  api/shared/validation_additional_test.py
  api/shared/validation_comprehensive_test.py
  src/components/auth/AuthProvider.tsx
  src/components/auth/LoginPage.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
Due: eslint, prettier, typescript

fix: update LoginPage test regex patterns to handle flexible button text
  src/components/auth/__tests__/LoginPage.test.tsx
Due: eslint, prettier, typescript

Security fix: Enforce Entra ID authentication in production
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  public/staticwebapp.config.json
  src/components/auth/AuthProvider.tsx
  src/components/auth/LoginPage.tsx
  src/test-setup.ts
Due: eslint, prettier, typescript

fix: Update LoginPage tests to handle both development and production environments
  src/components/auth/__tests__/LoginPage.test.tsx
Due: eslint, prettier, typescript

fix: Resolve 401 error by allowing anonymous access to main route
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  public/staticwebapp.config.json
  src/components/auth/AuthProvider.tsx
Due: eslint, prettier, typescript

Fix Microsoft authentication 404 error
  src/components/auth/AuthProvider.tsx
  src/components/auth/LoginPage.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
Due: eslint, prettier, typescript

Improve authentication error handling and provider detection
  src/components/auth/AuthProvider.tsx
  src/components/auth/LoginPage.tsx
Due: eslint, prettier, typescript

Fix CI/CD test failures and align local validation
  scripts/local-validation.sh
  src/components/auth/__tests__/AuthProvider.test.tsx
  src/test-setup.ts
Due: eslint, prettier, typescript

fix: resolve CI/CD test failures
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  jest.config.js
  scripts/local-validation.sh
  src/App.tsx
  src/components/layout/__tests__/NavBar.test.tsx
  src/test-setup.ts
  src/test-utils.tsx
Due: eslint, prettier, typescript

fix: resolve CI/CD test failures
  api/admin_api/__init__.py
  api/collections_api/__init__.py
  api/getroles/__init__.py
  api/getroles/function.json
  api/integrations_api/__init__.py
  api/llm_execute_api/__init__.py
  api/playbooks_api/__init__.py
  api/prompts/__init__.py
  api/role_management/__init__.py
  api/role_management/function.json
  api/shared/auth_static_web_apps.py
  docs/EMERGENCY-AUTH-FIX.md
  docs/authentication-implementation-guide.md
  docs/environment-variables.md
  docs/implementation-summary.md
  public/staticwebapp.config.json
  scripts/comprehensive-auth-test.sh
  scripts/emergency-auth-fix.sh
  scripts/migrate-authentication.sh
  scripts/setup-static-web-app-auth.sh
  scripts/test-authentication.sh
Due: prettier
