Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript, bicep-build

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format
  language: system
  pass_filenames: false

typescript:
  name: TypeScript
  entry: npm run type-check
  language: system
  pass_filenames: false

bicep-build:
  name: Bicep Build
  entry: bash -c 'cd infrastructure && az bicep build --file persistent.bicep && az bicep build --file compute.bicep'
  language: system
  pass_filenames: false

Fix all backend test failures and migrate to Pydantic v2
  api/admin_api/__init__.py
  api/admin_api/admin_test.py
  api/collections_api/__init__.py
  api/collections_api/collections_test.py
  api/playbooks_api/__init__.py
  api/playbooks_api/playbooks_test.py
  api/shared/models.py
Due: none

Fix backend test import errors
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/shared/database_error_test.py
  api/shared/validation_extended_test.py
Due: none

Add comprehensive test suite to increase coverage to 70%
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  jest.config.js
  src/App.test.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
  src/components/layout/__tests__/NavBar.test.tsx
  src/hooks/__tests__/useApi.test.ts
  src/services/__tests__/api.test.ts
Due: eslint, prettier, typescript

Fix local/CI validation discrepancies and all frontend test failures
  .gitignore
  .prettierignore
  jest.config.js
  local-dev/validate.sh
  src/App.test.tsx
  src/App.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
  src/components/layout/__tests__/NavBar.test.tsx
  src/components/shared/__tests__/ErrorMessage.test.tsx
  src/components/shared/__tests__/LoadingSpinner.test.tsx
  src/hooks/__tests__/useApi.test.ts
  src/services/__mocks__/api.ts
  src/services/__tests__/api.test.ts
  src/services/api.ts
  src/setupTests.js
Due: eslint, prettier, typescript

feat: Achieve 76% backend test coverage - exceed 70% target
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  api/collections_api/collections_test.py
  api/health/health_test.py
  api/shared/auth.py
  api/shared/auth_test.py
  api/shared/budget.py
  api/shared/budget_test.py
  api/shared/database.py
  api/shared/database_error_test.py
  api/shared/database_test.py
  api/shared/error_handling.py
  api/shared/error_handling_test.py
  api/shared/llm_client.py
  api/shared/llm_client_test.py
  api/shared/middleware.py
  api/shared/middleware_test.py
  api/shared/models.py
  api/shared/validation.py
  api/shared/validation_additional_test.py
  api/shared/validation_extended_test.py
  api/shared/validation_test.py
Due: prettier

fix: resolve CI/CD formatting issues and improve local validation
  .prettierignore
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  docs/LOCAL_VALIDATION_GUIDE.md
  docs/apim-migration-guide.md
  docs/cost-analysis-gateway-solutions.md
  docs/no-gateway-implementation-guide.md
  infrastructure/apim-migration.bicep
  infrastructure/compute-no-gateway.bicep
  infrastructure/parameters.apim-migration.json
  infrastructure/parameters.compute-no-gateway.json
  scripts/deploy-apim-migration.sh
  scripts/deploy-no-gateway.sh
  scripts/git-pre-commit-hook.sh
  scripts/rollback-apim-migration.sh
  scripts/test-apim-migration.sh
  scripts/validate-no-gateway.sh
Due: prettier, bicep-build

Fix frontend tests: All 148 tests now passing
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  src/components/admin/__tests__/AdminPanel.test.tsx
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
  src/components/playbooks/__tests__/PlaybookBuilder.test.tsx
  src/components/prompt/__tests__/PromptBuilder.test.tsx
Due: eslint, prettier, typescript

Fix frontend test issues and formatting
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/local-validation.sh
  src/components/admin/__tests__/AdminPanel.test.tsx
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
  src/components/playbooks/__tests__/PlaybookBuilder.test.tsx
  src/components/prompt/__tests__/PromptBuilder.test.tsx
Due: eslint, prettier, typescript

Improve test coverage: Add comprehensive tests for collections, playbooks, prompts, and API modules
  api/integrations_api/__init__.py
  api/integrations_api/integrations_test.py
  api/llm_execute_api/llm_execute_test.py
  api/prompts/__init__.py
  api/prompts/prompts_test.py
  api/shared/database_test.py
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/collections/__tests__/ImportModal.test.tsx
  src/components/playbooks/__tests__/PlaybookRunner.test.tsx
  src/components/prompt/__tests__/PromptCoach.test.tsx
Due: eslint, prettier, typescript

Fix critical pre-commit hook validation gaps
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  .pre-commit-config.yaml
  .venv-test/bin/Activate.ps1
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  api/.flake8
  api/.funcignore
  api/admin/function.json
  api/integrations/function.json
  api/integrations_api/integrations_test.py
  api/llm_execute/function.json
  api/llm_execute_api/llm_execute_test.py
  api/playbooks/function.json
  api/prompts/__init__.py
  api/prompts/prompts_test.py
  api/shared/database_test.py
  api/shared/llm_client_test.py
  infrastructure/compute.json
  infrastructure/parameters.apim-migration.json
  infrastructure/parameters.compute-no-gateway.json
  infrastructure/persistent.json
  src/components/collections/CollectionsPage.tsx
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/collections/__tests__/ImportModal.test.tsx
  src/components/playbooks/__tests__/PlaybookRunner.test.tsx
  src/components/prompt/__tests__/PromptCoach.test.tsx
Due: eslint, prettier, typescript

feat: optimize CI/CD pipeline and improve test coverage
  .github/workflows/ci-cd-backup.yml
  .github/workflows/ci-cd.yml
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/collections/__tests__/ImportModal.test.tsx
  src/components/playbooks/__tests__/PlaybookRunner.test.tsx
  src/components/prompt/PromptCoach.tsx
  src/components/prompt/__tests__/PromptCoach.test.tsx
  src/services/__tests__/api.test.ts
Due: eslint, prettier, typescript

fix: remove duplicate CI/CD workflow
  .github/workflows/ci-cd-backup.yml
  .github/workflows/ci-cd.yml
Due: prettier

fix: Achieve 100% test pass rate across frontend and backend
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/collections/__tests__/ImportModal.test.tsx
  src/components/playbooks/__tests__/PlaybookRunner.test.tsx
  src/services/__tests__/api.test.ts
Due: eslint, prettier, typescript

docs: Update metadata with comprehensive backend test coverage status
  docs/metadata.md
Due: prettier

feat: Resolve CI/CD failures and achieve 100% test pass rate
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/prompts/prompts_test.py
  docs/metadata.md
  local-dev/validate.sh
Due: prettier

security: Fix vulnerabilities and update CI/CD workflow
  .github/workflows/ci-cd.yml
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/requirements-ci.txt
  api/requirements.txt
  local-dev/validate.sh
  scripts/validate-infrastructure.sh
Due: prettier

Fix CI/CD validation failures
  .github/workflows/ci-cd.yml
  local-dev/validate.sh
  scripts/validate-infrastructure.sh
Due: prettier

fix: Resolve CI/CD failures and enhance local validation
  .github/workflows/ci-cd.yml
  local-dev/validate.sh
Due: prettier

Fix CI/CD security scan failure: pin Safety CLI to <3.0.0
  .github/workflows/ci-cd.yml
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  SECURITY_SCAN_FIX.md
  local-dev/validate.sh
Due: prettier

Fix E2E Docker Compose compatibility and enhance local validation
  E2E_DOCKER_COMPOSE_FIX.md
  local-dev/validate.sh
  package.json
  scripts/e2e-cleanup.sh
  scripts/e2e-logs.sh
  scripts/e2e-services.sh
  scripts/e2e-setup.sh
Due: prettier

Fix Docker build dependency issue and enhance local validation
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  DOCKER_BUILD_DEPENDENCY_FIX.md
  Dockerfile.e2e
  docker-compose.yml
  local-dev/validate.sh
  test-docker-validation.sh
Due: prettier

fix: Azure Functions container runtime issue
  AZURE_FUNCTIONS_CONTAINER_FIX.md
  api/.dockerignore
  api/Dockerfile
  api/Dockerfile.dev
  local-dev/validate.sh
  test-azure-functions-validation.sh
Due: prettier

docs: comprehensive CI/CD E2E test failure resolution summary
  CI_CD_E2E_RESOLUTION_SUMMARY.md
  api/Dockerfile.dev
  local-dev/validate.sh
  test-azure-functions-validation.sh
  test-health-check-validation.sh
Due: prettier

fix: improve health check curl dependency validation logic
  local-dev/validate.sh
  test-health-check-validation.sh
Due: none

docs: complete CI/CD E2E test failure resolution
  CI_CD_E2E_RESOLUTION_COMPLETE.md
Due: prettier

📊 INIT: Test Coverage Excellence Initiative
  docs/metadata.md
Due: prettier

Prompts API Coverage: 35% -> 78%
  api/prompts/prompts_test.py
Due: none

🚨 CRITICAL FIX: Resolve CI/CD authentication mocking failures
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/coverage.xml
  api/prompts/prompts_test.py
  docs/metadata.md
  local-dev/validate.sh
Due: prettier

🚀 MAJOR BREAKTHROUGH: Validation Module Coverage 54% → 95%
  api/shared/validation_comprehensive_test.py
Due: none

🔧 Fix error handling comprehensive tests - all 43 tests now passing
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/shared/error_handling.py
  api/shared/error_handling_comprehensive_test.py
  docs/metadata.md
Due: prettier

🚀 Complete infrastructure scripts implementation - all 5 empty scripts now functional
  docs/metadata.md
  scripts/deploy-apim-migration.sh
  scripts/deploy-no-gateway.sh
  scripts/rollback-apim-migration.sh
  scripts/test-apim-migration.sh
  scripts/validate-no-gateway.sh
Due: prettier

✅ Complete authentication mocking improvements - standardized patterns for CI/CD reliability
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/collections_api/collections_test.py
  api/conftest.py
  api/shared/auth_mocking.py
  docs/metadata.md
Due: prettier

feat: Add comprehensive User Experience guide
  docs/User_Experience.md
  docs/metadata.md
Due: prettier

📋 UX Guide: Critical Updates for Beta Preparation
  api/admin_api/__init__.py
  api/admin_api/admin_test.py
  docs/User_Experience.md
  docs/metadata.md
Due: prettier

feat: Complete project cleanup & professional README
  AZURE_FUNCTIONS_CONTAINER_FIX.md
  CI_CD_E2E_RESOLUTION_COMPLETE.md
  CI_CD_E2E_RESOLUTION_SUMMARY.md
  DOCKER_BUILD_DEPENDENCY_FIX.md
  E2E_DOCKER_COMPOSE_FIX.md
  GAP_ANALYSIS_RESOLUTION.md
  IMPLEMENTATION_COMPLETE.md
  README.md
  SECURITY_SCAN_FIX.md
  TEST_COVERAGE_IMPROVEMENT_PLAN.md
  WORKFLOW_GAP_ANALYSIS.md
  api/requirements-minimal.txt.backup
  docs/BRANCH_PROTECTION.md
  docs/CI_CD_OPTIMIZATION.md
  docs/E2E_QUICK_REFERENCE.md
  docs/E2E_TESTING.md
  docs/LOCAL_VALIDATION_GUIDE.md
  docs/VALIDATION_SUMMARY.md
  docs/apim-migration-guide.md
  docs/cost-analysis-gateway-solutions.md
  docs/generate-tasks.mdc
  docs/metadata.md
  docs/no-gateway-implementation-guide.md
  docs/task-list.mdc
  scripts/test-azure-functions-validation.sh
  scripts/test-docker-validation.sh
  scripts/test-health-check-validation.sh
Due: prettier

fix: resolve CI/CD test failures with environment isolation
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  api/conftest.py
  api/shared/auth_mocking.py
  api/shared/middleware_test.py
  scripts/local-validation.sh
Due: none

feat: rebrand from AI Operations Platform to Multi-LLM Prompt Studio
  .jest-cache/haste-map-72d9bb4f2b7cfc4cfe56b422c89f0c90-172af8cd0b285f9fad1525e653805f2a-bf75eb9a4cd7847d8116f8652dcdc3b0
  .jest-cache/perf-cache-72d9bb4f2b7cfc4cfe56b422c89f0c90-da39a3ee5e6b4b0d3255bfef95601890
  README.md
  docs/Functional_Spec_Sutra.md
  docs/PRD-Sutra.md
  docs/Tech_Spec_Sutra.md
  docs/User_Experience.md
  docs/metadata.md
  index.html
  local-dev/setup.sh
  package.json
  src/components/auth/LoginPage.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
  tasks/tasks-sutra-mvp.md
Due: eslint, prettier, typescript

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$, but not: (node_modules/|\.venv/|dist/|coverage/)
  typescript: any of: \.(ts|tsx)$
  bicep-build: any of: \.bicep$
