Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript, bicep-build

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format
  language: system
  pass_filenames: false

typescript:
  name: TypeScript
  entry: npm run type-check
  language: system
  pass_filenames: false

bicep-build:
  name: Bicep Build
  entry: bash -c 'cd infrastructure && az bicep build --file persistent.bicep && az bicep build --file compute.bicep'
  language: system
  pass_filenames: false

fix: Complete migration to Azure Static Web Apps authentication
  api/admin_api/__init__.py
  api/integrations_api/__init__.py
  api/llm_execute_api/__init__.py
  api/playbooks_api/__init__.py
Due: none

style: Auto-format files with Prettier
  E2E_VALIDATION_RESULTS.md
Due: prettier

fix: Complete authentication migration and test compatibility
  .github/workflows/ci-cd.yml
  DEPLOYMENT_SUMMARY.md
  api/TEST_AUTH_MIGRATION.md
  api/admin_api/__init__.py
  api/collections_api/__init__.py
  api/integrations_api/__init__.py
  api/llm_execute_api/__init__.py
  api/playbooks_api/__init__.py
  api/shared/auth_static_web_apps.py
  scripts/enhanced-e2e-validation.sh
Due: prettier

Fix critical CI/CD test failures: async decorators and status codes
  CI_CD_FAILURE_ANALYSIS.md
  api/admin_api/admin_test.py
  api/collections_api/collections_test.py
  api/integrations_api/integrations_test.py
  api/llm_execute_api/llm_execute_test.py
  api/shared/auth_static_web_apps.py
  scripts/enhanced-e2e-validation.sh
Due: prettier

Fix remaining CI/CD failures: user ID mocking and exception handling
  api/integrations_api/integrations_test.py
  api/llm_execute_api/llm_execute_test.py
  scripts/enhanced-e2e-validation.sh
Due: none

fix: resolve Microsoft Entra authentication configuration
  AUTHENTICATION_FIX_SUMMARY.md
  AUTHENTICATION_MIGRATION_COMPLETE.md
  scripts/fix-auth-configuration.sh
Due: prettier

fix: enable personal Microsoft account authentication
  public/staticwebapp.config.json
Due: prettier

docs: update authentication fix documentation with personal account support
  AUTHENTICATION_FIX_SUMMARY.md
  PERSONAL_ACCOUNT_FIX.md
Due: prettier

feat: implement user access control and admin management
  api/getroles/__init__.py
  api/user_management/__init__.py
  api/user_management/function.json
  public/admin.html
  scripts/setup-admin-user.sh
Due: prettier

Complete authentication migration testing and infrastructure fixes
  CONTAINER_NAME_ANALYSIS.md
  LOCAL_TESTING_COMPLETE.md
  TESTING_MIGRATION_SUMMARY.md
  api/admin_api/__init__.py
  api/admin_api/admin_test.py
  api/collections_api/collections_test.py
  api/conftest.py
  api/playbooks_api/__init__.py
  api/prompts/__init__.py
  api/shared/auth_static_web_apps.py
  infrastructure/persistent.bicep
  scripts/bulk-fix-test-auth.sh
  scripts/find-and-promote-admin.py
  scripts/quick-admin-setup.py
  scripts/test-fix-template.sh
Due: prettier, bicep-build

Fix authentication issues in admin tests
  api/admin_api/admin_test.py
  index.html
Due: none

Comprehensive authentication fixes and CI/CD improvements
  api/collections_api/collections_test.py
  api/playbooks_api/playbooks_test.py
  fix_auth_comprehensive.py
  scripts/local-validation.sh
Due: none

Fix CI/CD test failures and improve local validation
  api/admin_api/admin_test.py
  api/collections_api/collections_test.py
  api/conftest.py
  api/integrations_api/integrations_test.py
  api/playbooks_api/playbooks_test.py
  api/shared/database_test.py
  scripts/local-validation.sh
Due: none

🔧 Fix CI/CD test failures: Update authentication patterns and test infrastructure
  README_new.md
  api/playbooks_api/playbooks_test.py
  docs/metadata_new.md
  fix_all_auth_issues.py
  fix_auth_tests.py
  fix_body_encoding.py
  fix_container_calls.py
  fix_playbooks_auth.py
  fix_route_params.py
Due: prettier

Fix critical production issues: database mappings, auth context, and ARM64 Docker compatibility
  DATABASE_FIXES_SUMMARY.md
  PRODUCTION_ISSUE_RESOLUTION_SUMMARY.py
  api/collections_api/__init__.py
  api/collections_api/collections_test.py
  api/playbooks_api/__init__.py
  api/prompts/__init__.py
  docker-compose.e2e-no-cosmos.yml
  docs/metadata.md
  fix_production_issues.py
  src/components/auth/AuthProvider.tsx
  src/components/dashboard/Dashboard.tsx
  validate_database_fixes.py
Due: eslint, prettier, typescript

feat: Implement comprehensive guest/anonymous user system with updated documentation
  CRITICAL_DATA_FLOW_FIXES.md
  api/admin/function.json.disabled
  api/admin_api/__init__.py
  api/anonymous_llm_api/__init__.py
  api/anonymous_llm_api/anonymous_llm_test.py
  api/anonymous_llm_api/function.json
  api/collections_api/__init__.py
  api/getroles/__init__.py
  api/guest_api/__init__.py
  api/guest_api/function.json
  api/guest_api/guest_api_test.py
  api/guest_api/guest_api_test_old.py
  api/guest_api/guest_api_test_old2.py
  api/guest_llm_api/__init__.py
  api/guest_llm_api/function.json
  api/prompts/__init__.py
  api/prompts/function.json
  api/shared/guest_user.py
  api/shared/guest_user_test.py
  api/test_anonymous/__init__.py
  api/test_anonymous/function.json
  api/user_management/function.json.disabled
  docs/PRD-Sutra.md
  docs/Tech_Spec_Sutra.md
  docs/User_Experience.md
  fix_user_role.py
  src/components/admin/GuestUserSettings.tsx
  src/components/admin/__tests__/GuestUserSettings.test.tsx
  src/components/auth/AnonymousLLMTest.tsx
  src/components/auth/AuthProvider.tsx
  src/components/auth/GuestLogin.tsx
  src/components/auth/LoginPage.tsx
  src/components/auth/__tests__/AnonymousLLMTest.test.tsx
Due: eslint, prettier, typescript

fix: resolve authentication mocking issues in backend tests
  api/integrations_api/integrations_test.py
  api/llm_execute_api/llm_execute_test.py
Due: none

feat: Implement comprehensive AI cost management system
  COST_MANAGEMENT_STATUS.md
  README.md
  api/collections_api/collections_test.py
  api/cost_management_api/__init__.py
  api/cost_management_api/cost_management_test.py
  api/cost_management_api/function.json
  api/coverage.xml
  api/guest_api/guest_api_test_fixed.py
  api/guest_api/guest_api_test_v2.py
  api/shared/budget.py
  api/shared/budget_test.py
  docs/PRD-Sutra.md
  docs/Tech_Spec_Sutra.md
  local-dev/validate.sh
  src/components/admin/AdminPanel.tsx
  src/components/admin/CostManagementAdmin.tsx
  src/components/cost/BudgetTracker.tsx
  src/components/cost/CostPreview.tsx
  src/components/cost/__tests__/BudgetTracker.test.tsx
  src/components/cost/__tests__/CostPreview.test.tsx
  src/hooks/__tests__/useCostManagement.test.tsx
  src/hooks/useCostManagement.ts
Due: eslint, prettier, typescript

Full E2E validation fixes: frontend tests, auth migration, and core functionality
  api/cost_management_api/__init__.py
  api/cost_management_api/cost_management_test.py
  api/shared/budget.py
  scripts/local-validation.sh
  src/components/cost/__tests__/CostPreview.test.tsx
Due: eslint, prettier, typescript

Fix CI/CD test failures: Resolve backend API and test issues
  api/cost_management_api/cost_management_test.py
  api/llm_execute_api/llm_execute_test.py
  api/shared/budget.py
  api/shared/budget_test.py
Due: none

chore: Clean up repository structure and consolidate documentation
  COST_MANAGEMENT_STATUS.md
  CRITICAL_DATA_FLOW_FIXES.md
  DATABASE_FIXES_SUMMARY.md
  PRODUCTION_ISSUE_RESOLUTION_SUMMARY.py
  README.md
  README_new.md
  docs/metadata.md
  docs/metadata_new.md
  fix_all_auth_issues.py
  fix_auth_comprehensive.py
  fix_auth_tests.py
  fix_body_encoding.py
  fix_container_calls.py
  fix_playbooks_auth.py
  fix_production_issues.py
  fix_route_params.py
  fix_user_role.py
  scripts/e2e-setup.sh
  validate_database_fixes.py
Due: prettier

🧪 Achieve 83.31% test coverage with 100% pass rate
  fix_cost_management_tests.py
  scripts/validate-e2e-ci-mirror.sh
  src/components/admin/__tests__/CostManagementAdmin.test.tsx
  src/components/auth/__tests__/GuestLogin.test.tsx
  src/components/cost/__tests__/BudgetTracker.test.tsx
  src/components/cost/__tests__/CostPreview.test.tsx
  src/hooks/__tests__/useCostManagement.test.tsx
  src/hooks/useCostManagement.ts
Due: eslint, prettier, typescript

Fix budget manager and validation script improvements
  api/shared/budget.py
  scripts/validate-e2e-ci-mirror.sh
Due: none

Fix CI/CD failures: auth, budget, and E2E validation improvements
  api/coverage.xml
  api/llm_execute_api/llm_execute_test.py
  api/shared/auth_static_web_apps.py
  api/shared/budget.py
  api/shared/budget_test.py
  scripts/validate-e2e-ci-mirror.sh
Due: none

🔧 Fix critical frontend-backend integration issues
  INTEGRATION_STATUS.md
  admin-test.html
  api/integrations_api/__init__.py
  api/shared/auth_static_web_apps.py
  final-test.sh
  src/components/auth/AnonymousLLMTest.tsx
  src/components/collections/CollectionsPage.tsx
  src/components/integrations/IntegrationsPage.tsx
  src/components/prompt/PromptBuilder.tsx
  src/services/api.ts
  test-admin-setup.html
  test-integration.sh
  vite.config.ts
Due: eslint, prettier, typescript

Fix frontend test suite and resolve all test failures
  api/integrations_api/__init__.py
  jest.config.js
  scripts/local-validation.sh
  src/components/auth/AnonymousLLMTest.tsx
  src/components/auth/__tests__/AnonymousLLMTest.test.tsx
  src/components/collections/CollectionsPage.tsx
  src/components/collections/__tests__/CollectionsPage.test.tsx.bak
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
  src/components/prompt/__tests__/PromptBuilder.test.tsx
  src/utils/env.ts
Due: eslint, prettier, typescript

✅ Complete E2E validation and comprehensive gap analysis
  api/prompts/__init__.py
  api/shared/models.py
  docs/Gap_Analysis_and_Recommendations.md
  docs/Local_Development_Authentication.md
  docs/metadata.md
  src/components/auth/AuthProvider.tsx
  src/components/prompt/__tests__/PromptBuilder.test.tsx
  src/dev/localAuthPlugin.ts
  src/services/api.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint, prettier, typescript

🚀 Implement Phase 1 Enhanced Monitoring & Analytics
  src/services/advancedAnalytics.ts
  src/services/enhancedMonitoring.ts
Due: eslint, prettier, typescript

feat: enhance dashboard with business intelligence and improved monitoring
  scripts/enhanced-local-validation.sh
  src/components/dashboard/BusinessIntelligenceDashboard.tsx
  src/components/dashboard/Dashboard.tsx
  src/services/__tests__/advancedAnalytics.test.ts
  src/services/__tests__/enhancedMonitoring.test.ts
  src/services/enhancedMonitoring.ts
Due: eslint, prettier, typescript

feat: improve test coverage and validation
  jest.config.js
  scripts/local-validation.sh
  src/components/dashboard/__tests__/BusinessIntelligenceDashboard.test.tsx
  src/utils/__tests__/env.test.ts
Due: eslint, prettier, typescript

Fix code formatting and add comprehensive post-beta backlog
  docs/POST_BETA_BACKLOG.md
  jest.config.js
  scripts/validate-e2e.sh
  src/components/dashboard/__tests__/BusinessIntelligenceDashboard.test.tsx
  src/utils/env.ts
Due: eslint, prettier, typescript

Fix frontend-backend connectivity issues
  docs/metadata.md
  src/services/api.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint, prettier, typescript

Fix async/await issue in API service tests
  src/services/__tests__/api.test.ts
Due: eslint, prettier, typescript

Improve local E2E validation to prevent CI/CD failures
  package.json
  scripts/pre-push-validation.sh
Due: prettier

📝 Document validation improvements and CI/CD failure resolution
  VALIDATION_IMPROVEMENTS.md
  docs/Local_E2E_Validation.md
Due: prettier

🚀 PHASE 1 COMPLETE: Critical Foundation - 100% Systemic Issues Resolved
  COMPLETE_SYSTEMS_ANALYSIS.md
  DEEPER_SYSTEMIC_ANALYSIS.md
  SYSTEMATIC_RESOLUTION_COMPLETE.md
  SYSTEMATIC_RESOLUTION_PLAN.md
  SYSTEMATIC_RESOLUTION_PROGRESS.md
  api/collections_api/__init__.py
  api/cost_management_api/__init__.py
  api/integrations_api/__init__.py
  api/llm_execute_api/__init__.py
  api/openapi.yaml
  api/playbooks_api/__init__.py
  api/prompts/__init__.py
  api/shared/real_time_cost.py
  api/shared/unified_auth.py
  api/shared/utils/__init__.py
  api/shared/utils/fieldConverter.py
  api/shared/utils/schemaValidator.py
  api/user_management/__init__.py
  shared/schemas/base.json
  shared/schemas/collection.json
  shared/schemas/cost.json
  shared/schemas/playbook.json
  shared/schemas/prompt.json
  shared/schemas/user.json
  shared/utils/fieldConverter.ts
  shared/utils/schemaValidator.ts
  src/components/dashboard/Dashboard-new.tsx
  src/components/dashboard/Dashboard.tsx
  src/services/api.ts
  src/utils/fieldConverter.ts
Due: eslint, prettier, typescript

Add E2E environment setup and test improvements
  Dockerfile
  scripts/e2e-setup.sh
  scripts/unified-validation.sh
  src/components/admin/__tests__/AdminPanel.test.tsx
  src/components/dashboard/__tests__/Dashboard-new.test.tsx
  src/services/__tests__/api.test.ts
Due: eslint, prettier, typescript

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$, but not: (node_modules/|\.venv/|dist/|coverage/)
  typescript: any of: \.(ts|tsx)$
  bicep-build: any of: \.bicep$
