Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, bicep-validation, shell-script-validation, python-requirements-check

eslint:
  name: ESLint (Frontend Code Quality)
  entry: bash -c 'if command -v npx &> /dev/null && [ -f "package.json" ]; then npx eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix; else echo "ESLint not available - skipping"; fi'
  language: system

prettier:
  name: Prettier (Code Formatting)
  entry: bash -c 'if command -v npx &> /dev/null && [ -f "package.json" ]; then npx prettier --write .; else echo "Prettier not available - skipping"; fi'
  language: system

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'if command -v npx &> /dev/null && [ -f "tsconfig.json" ]; then npx tsc --noEmit; else echo "TypeScript not available - skipping"; fi'
  language: system
  pass_filenames: false

bicep-validation:
  name: Bicep Template Validation
  ...

shell-script-validation:
  name: Shell Script Syntax Check
  entry: bash -c 'for file in "$@"; do bash -n "$file"; done'
  language: system
  pass_filenames: true

python-requirements-check:
  name: Python Requirements Validation
  entry: bash -c 'cd api && python3 -m pip check 2>/dev/null || echo "Python dependencies check failed - may need pip install"'
  language: system
  pass_filenames: false

fix: Resolve pre-commit issues
  api/forge_api/__init__.py
  api/shared/audit_logger.py
  api/shared/cdn_optimizer.py
  api/shared/database_optimizer.py
  api/shared/gdpr_compliance.py
  api/shared/rate_limiter.py
  api/shared/security_validator.py
  api/test_budget_enforcement.py
  api/test_cost_tracking.py
  docs/Old_Specs/bkp-Tech_Spec_Sutra.md
  docs/metadata.md
  docs/sutra_tasks.md
  src/App.tsx
  src/components/LLMSelector.tsx
  src/components/forge/ImplementationPlaybookStage.tsx
  src/components/forge/PRDGeneration.tsx
  src/components/forge/ProgressIndicator.tsx
  src/components/forge/QualityGate.tsx
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/index.ts
  src/components/ui/progress.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/hooks/use-toast.ts
  src/hooks/useAuth.ts
  src/hooks/useLLMCost.ts
  src/utils/performance-monitor.ts
  test_anthropic_integration.py
  test_google_integration.py
  test_openai_integration.py
  vite.config.ts
Due: eslint, prettier, typescript-check

fix: Resolve all ESLint and flake8 code quality issues
  docs/Old_Specs/bkp-Tech_Spec_Sutra.md
  src/components/forge/IdeaRefinementStage.tsx
  src/components/forge/ImplementationPlaybookStage.tsx
  src/components/forge/PRDGeneration.tsx
  src/components/forge/ProgressIndicator.tsx
  src/components/forge/QualityGate.tsx
  src/components/forge/TechnicalAnalysisStage.tsx
  src/hooks/useLLMCost.ts
  vite.config.ts
Due: eslint, prettier, typescript-check

fix: Resolve TypeScript compilation errors
  src/components/forge/ImplementationPlaybookStage.tsx
  src/components/forge/PRDGeneration.tsx
  src/components/forge/ProgressIndicator.tsx
Due: eslint, prettier, typescript-check

style: Apply Prettier formatting fixes
  src/components/forge/ImplementationPlaybookStage.tsx
  src/components/forge/PRDGeneration.tsx
Due: eslint, prettier, typescript-check

fix: Remove problematic test file and fix PerformanceObserver mock
  src/components/__tests__/IdeaRefinementStage.test.tsx
  src/test-setup.ts
Due: eslint, prettier, typescript-check

fix: resolve all quality gate issues
  src/App.test.tsx
  src/components/__tests__/IdeaRefinementStage.test.tsx
Due: eslint, prettier, typescript-check

fix: auto-formatting fixes from pre-commit hooks
  src/App.test.tsx
  src/components/__tests__/IdeaRefinementStage.test.tsx
Due: eslint, prettier, typescript-check

fix: resolve backend Python import issues in conftest.py
  api/conftest.py
Due: none

docs: update metadata with quality remediation progress
  docs/metadata.md
Due: prettier

style: automated formatting fixes by pre-commit hooks
  api/conftest.py
  docs/metadata.md
Due: prettier

docs: update metadata with final quality remediation status
  docs/metadata.md
Due: prettier

fix: automatic trailing whitespace cleanup by pre-commit hooks
  docs/metadata.md
Due: prettier

fix: resolve model import conflicts between models.py and models/ directory
  api/conftest.py
  api/shared/models/__init__.py
Due: none

style: auto-format code with black and isort
  api/conftest.py
  api/shared/models/__init__.py
Due: none

docs: update project status to reflect successful GitHub deployment
  docs/metadata.md
Due: prettier

fix: update LLMClient to LLMManager and add missing exports
  api/forge_api/__init__.py
  api/forge_api/idea_refinement_endpoints.py
  api/shared/auth_helpers.py
  api/shared/llm_providers/__init__.py
Due: none

fix: resolve backend dependencies and import errors
  api/shared/auth_helpers.py
  docs/metadata.md
Due: prettier

style: apply pre-commit formatting fixes and remove executable permission from auth_helpers.py
  docs/metadata.md
Due: prettier

feat: resolve all backend import issues and update status
  api/shared/auth_helpers.py
  docs/metadata.md
Due: prettier

fix: resolve final backend import issue in llm_execute_api and install missing dependencies
  api/llm_execute_api/__init__.py
Due: none

fix: add missing factory functions and LLMProvider alias for backward compatibility
  api/shared/llm_client.py
  api/shared/llm_providers/__init__.py
Due: none

style: auto-format code with black formatter
  api/shared/llm_client.py
  api/shared/llm_providers/__init__.py
Due: none

fix: resolve LLMProvider test issues and complete backend import fixes
  api/shared/llm_client_test.py
Due: none

fix: apply pre-commit formatting and update secrets baseline
  .secrets.baseline
  api/shared/llm_client_test.py
Due: none

fix: correct test assertion for uninitialized provider
  api/shared/llm_client_test.py
Due: none

fix: correct OpenAI provider test to match actual implementation
  api/shared/llm_client_test.py
Due: none

fix: correct OpenAI provider execute_prompt test to handle uninitialized state
  api/shared/llm_client_test.py
Due: none

fix: correct remaining OpenAI provider test expectations for uninitialized state
  api/shared/llm_client_test.py
Due: none

fix: correct Anthropic provider test initialization expectations
  api/shared/llm_client_test.py
Due: none

fix: correct Anthropic provider test expectations for uninitialized state
  api/shared/llm_client_test.py
Due: none

fix: correct Google provider test expectations for proper initialization and provider name
  api/shared/llm_client_test.py
Due: none

fix: update error message pattern for KEY_VAULT_URI validation test
  api/shared/llm_client_test.py
Due: none

fix: properly mock providers in get_available_providers test
  api/shared/llm_client_test.py
Due: none

fix: apply pre-commit formatting fixes to test file
  api/shared/llm_client_test.py
Due: none

fix: properly mock cost tracking in execute_prompt test
  api/shared/llm_client_test.py
Due: none

fix: apply pre-commit formatting fixes
  api/shared/llm_client_test.py
Due: none

fix: return proper LLMResponse objects in multi-LLM test
  api/shared/llm_client_test.py
Due: none

fix: apply pre-commit formatting fixes to multi-LLM test
  api/shared/llm_client_test.py
Due: none

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (node_modules/|\.venv/|dist/|coverage/|api/)
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$, but not: (node_modules/|\.venv/|dist/|coverage/|package-lock\.json|api/)
  typescript-check: any of: \.(ts|tsx)$, but not: (node_modules/|\.venv/|dist/|coverage/|api/)
  bicep-validation: any of: infrastructure/.*\.bicep$
  shell-script-validation: any of: \.sh$
  python-requirements-check: any of: api/requirements.*\.txt$
