Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, bicep-validation, shell-script-validation, python-requirements-check

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (node_modules/|\.venv/|dist/|coverage/|api/)
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$, but not: (node_modules/|\.venv/|dist/|coverage/|package-lock\.json|api/)
  typescript-check: any of: \.(ts|tsx)$, but not: (node_modules/|\.venv/|dist/|coverage/|api/)
  bicep-validation: any of: infrastructure/.*\.bicep$
  shell-script-validation: any of: \.sh$
  python-requirements-check: any of: api/requirements.*\.txt$

fix: return proper LLMResponse objects in multi-LLM failure test
  api/shared/llm_client_test.py
Due: none

fix: apply pre-commit formatting to multi-LLM failure test
  api/shared/llm_client_test.py
Due: none

fix: set provider _initialized flag in test_get_provider_status test
  api/shared/llm_client_test.py
Due: none

fix: add LLM provider dependencies to requirements-minimal.txt for CI
  api/requirements-minimal.txt
Due: python-requirements-check

feat: modernize authentication system with Microsoft Entra ID default tenant
  .archive/auth_legacy.py
  .archive/entra_auth_old.py
  .archive/infrastructure/compute.bicep
  .archive/infrastructure/compute.json
  .archive/infrastructure/parameters.compute.json
  .archive/infrastructure/parameters.persistent.json
  .archive/infrastructure/persistent.bicep
  .archive/infrastructure/persistent.json
  .env.frontend.production
  AUTHENTICATION_MODERNIZATION_SUMMARY.md
  README.md
  api/host.json
  api/local.settings.json.example
  api/shared/auth_mocking.py
  api/shared/database.py
  api/shared/entra_auth.py
  api/shared/models.py
  api/shared/unified_auth.py
  docs/INFRASTRUCTURE_CONSOLIDATION_COMPLETE.md
  docs/PRD_Sutra.md
  docs/Tech_Spec_Sutra.md
  docs/User_Experience_Sutra.md
  docs/metadata.md
  infrastructure/README.md
  infrastructure/cleanup-temp.sh
  infrastructure/deploy-idempotent.sh
  infrastructure/flex-upgrade.bicep
  infrastructure/idempotent.bicep
  infrastructure/idempotent.json
  infrastructure/infrastructure-summary.sh
  infrastructure/parameters.flex-upgrade.json
  infrastructure/parameters.unified.json
  infrastructure/unified.bicep
  scripts/verify-infrastructure.sh
  src/components/auth/AuthProvider.tsx
  src/components/auth/UnifiedAuthProvider.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/integrations/IntegrationsPage.tsx
  src/config/index.ts
  src/types/auth.ts
Due: eslint, prettier, typescript-check, bicep-validation, shell-script-validation

feat: modernize authentication system with Microsoft Entra ID default tenant
  AUTHENTICATION_MODERNIZATION_SUMMARY.md
  README.md
  api/shared/database.py
  api/shared/models.py
  docs/INFRASTRUCTURE_CONSOLIDATION_COMPLETE.md
  docs/metadata.md
  infrastructure/README.md
  infrastructure/cleanup-temp.sh
  infrastructure/idempotent.json
  src/config/index.ts
Due: eslint, prettier, typescript-check, shell-script-validation

fix: remove archive files from repository and add to .gitignore
  .archive/auth_legacy.py
  .archive/entra_auth_old.py
  .archive/infrastructure/compute.bicep
  .archive/infrastructure/compute.json
  .archive/infrastructure/parameters.compute.json
  .archive/infrastructure/parameters.persistent.json
  .archive/infrastructure/persistent.bicep
  .archive/infrastructure/persistent.json
  .gitignore
Due: prettier, bicep-validation

fix: resolve Jest import.meta.env compatibility issues
  jest.config.js
  src/components/integrations/IntegrationsPage.tsx
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
  src/config/index.ts
  src/setupTests.js
Due: eslint, prettier, typescript-check

chore: update secrets baseline file
  .secrets.baseline
Due: none

fix: create missing auth.py compatibility module
  api/shared/auth.py
  api/shared/unified_auth.py
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
  src/config/index.ts
Due: eslint, prettier, typescript-check

style: apply code formatting fixes
  api/shared/auth.py
  api/shared/unified_auth.py
Due: none

fix: resolve authentication import issues and restore entra_auth module
  SETUP_VALIDATION_REPORT.md
  api/conftest.py
  api/debug_exec.py
  api/debug_import.py
  api/shared/auth.py
  api/shared/auth_test.py
  api/shared/entra_auth.py
  docs/AUTHENTICATION_MODERNIZATION_SUMMARY.md
Due: prettier

style: apply automatic code formatting and fix linting issues
  .secrets.baseline
  api/conftest.py
  api/debug_exec.py
  api/debug_import.py
  api/shared/auth.py
  api/shared/auth_test.py
  api/shared/entra_auth.py
Due: none

fix: resolve backend authentication test failures blocking CI/CD
  .secrets.baseline
  api/collections_api/collections_test.py
  api/playbooks_api/playbooks_test.py
  api/shared/auth_test.py
  api/shared/auth_test_legacy.py
  api/shared/unified_auth.py
Due: none

docs: Add infrastructure review and deployment status reports for Phase 2
  docs/COMPREHENSIVE_STATUS_REPORT.md
  docs/DEPLOYMENT_READINESS.md
  docs/DEPLOYMENT_STATUS_REPORT.md
  docs/INFRASTRUCTURE_CICD_REVIEW_REPORT.md
  docs/PHASE1_COMPLETION_REPORT.md
  docs/PHASE1_CONSENSUS_ENHANCEMENTS.md
  docs/PHASE1_TASK2_PLAYBOOK_ENHANCEMENTS.md
  docs/PHASE1_TASK3_QUALITY_VALIDATION_ENHANCEMENTS.md
  docs/PHASE1_TASK4_E2E_TESTING.md
  docs/PHASE1_TASK5_FRONTEND_INTEGRATION.md
  docs/PHASE1_VALIDATION_REPORT.md
  docs/POST_PHASE1_SUMMARY.md
  docs/metadata.md
Due: prettier

fix: Add missing imports for QualityEngine, CodingAgentOptimizer, and LLMClient
  api/forge_api/implementation_playbook_endpoints.py
Due: none

fix: Pin Google API dependencies to resolve CI/CD resolver conflicts
  api/requirements.txt
Due: python-requirements-check

perf: Add caching to CI/CD pipeline for faster builds
  .github/workflows/ci-cd.yml
Due: prettier

fix: Update protobuf constraint to resolve dependency conflict
  api/requirements.txt
Due: python-requirements-check

test: Skip async function tests temporarily with TODO markers
  api/test_forge_e2e.py
Due: none

test: Skip all async test_forge_e2e.py tests temporarily
  api/shared/multi_llm_consensus.py
  api/shared/quality_validators.py
  api/test_forge_e2e.py
  api/validate_forge_integration.py
  docs/COMPREHENSIVE_STATUS_REPORT.md
  docs/DEPLOYMENT_READINESS.md
  docs/DEPLOYMENT_STATUS_REPORT.md
  docs/INFRASTRUCTURE_CICD_REVIEW_REPORT.md
  docs/PHASE1_COMPLETION_REPORT.md
  docs/PHASE1_CONSENSUS_ENHANCEMENTS.md
  docs/PHASE1_TASK2_PLAYBOOK_ENHANCEMENTS.md
  docs/PHASE1_TASK3_QUALITY_VALIDATION_ENHANCEMENTS.md
  docs/PHASE1_TASK4_E2E_TESTING.md
  docs/PHASE1_TASK5_FRONTEND_INTEGRATION.md
  docs/PHASE1_VALIDATION_REPORT.md
  docs/POST_PHASE1_SUMMARY.md
  docs/metadata.md
  package-lock.json
  src/components/forge/ImplementationPlaybookStage.tsx
Due: eslint, prettier, typescript-check

ci: Add reportlab to requirements-minimal.txt
  api/requirements-minimal.txt
Due: python-requirements-check

fix: Prevent Prettier from hanging on venv/ directory
  .prettierignore
Due: none

docs: Add comprehensive Forge integration documentation and validation
  docs/COMPREHENSIVE_APP_STATUS_REPORT.md
  docs/DEPLOYMENT_READINESS_CHECKLIST.md
  docs/FORGE_INTEGRATION_STATUS.md
  docs/MANUAL_TESTING_PLAN.md
  docs/NEXT_STEPS_GUIDE.md
  docs/PRE_TESTING_VALIDATION.md
  docs/metadata.md
  scripts/validate-forge-integration.ts
  src/App.tsx
  src/components/forge/ForgeProjectDetails.tsx
  src/components/forge/UXRequirementsStage.tsx
  src/services/api.ts
  src/types/forge.ts
  tests/e2e/forge-workflow.spec.ts
Due: eslint, prettier, typescript-check

feat: Complete Phase 2 implementation tasks A, C, D
  api/integrations_api/__init__.py
  api/shared/gdpr_compliance.py
  api/shared/keyvault_manager.py
  api/shared/keyvault_manager_test.py
  api/test_forge_e2e.py
  api/test_idea_refinement.py
  api/test_signature_fixes.py
  docs/metadata.md
  shared/schemas/base.json
  shared/schemas/cost.json
  shared/schemas/playbook.json
  shared/schemas/prompt.json
Due: prettier

fix: Update pre-push hook to use project venv for pre-commit
  .githooks/pre-push
Due: none

fix: Format Python files and fix lint errors for CI
  api/shared/gdpr_compliance.py
  api/shared/keyvault_manager.py
  api/shared/keyvault_manager_test.py
  api/test_forge_e2e.py
  docs/COMPREHENSIVE_APP_STATUS_REPORT.md
  docs/DEPLOYMENT_READINESS_CHECKLIST.md
  docs/FORGE_INTEGRATION_STATUS.md
  docs/MANUAL_TESTING_PLAN.md
  docs/NEXT_STEPS_GUIDE.md
  docs/PRE_TESTING_VALIDATION.md
  docs/metadata.md
  scripts/validate-forge-integration.ts
  src/components/forge/ForgeProjectDetails.tsx
  src/components/forge/UXRequirementsStage.tsx
  src/services/api.ts
  src/types/forge.ts
  tests/e2e/forge-workflow.spec.ts
Due: eslint, prettier, typescript-check

fix: Update axios to fix high severity DoS vulnerability (GHSA-4hjh-wcwx-xvwj)
  package-lock.json
Due: none

fix: Update infrastructure validation to use unified.bicep
  scripts/validate-infrastructure.sh
Due: shell-script-validation

fix: Fix E2E Docker configuration for Azure Functions
  api/Dockerfile.dev
  docker-compose.e2e-no-cosmos.yml
Due: prettier

style: Add trailing newline to Dockerfile.dev
  api/Dockerfile.dev
Due: none

fix: Fix Azure Functions container startup in E2E
  api/Dockerfile.dev
  docker-compose.e2e-no-cosmos.yml
Due: prettier

fix: Add proper CMD for Azure Functions standalone Docker
  api/Dockerfile.dev
Due: none

fix: Install Azure Functions Core Tools and use func CLI to start host
  api/Dockerfile.dev
Due: none

fix: Use npm to install Azure Functions Core Tools
  api/Dockerfile.dev
Due: none

fix: Remove volume mount and simplify Dockerfile for E2E
  api/Dockerfile.dev
  docker-compose.e2e-no-cosmos.yml
Due: prettier

test: fix jest module mapper precedence for api mock
  jest.config.js
Due: eslint, prettier

test: align database tests with SutraDB default
  api/shared/database_test.py
Due: none

test: update middleware header expectation for dynamic cors
  api/shared/middleware_test.py
Due: none
