Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, bicep-validation, shell-script-validation, python-requirements-check

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: (node_modules/|\.venv/|dist/|coverage/|api/)
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$, but not: (node_modules/|\.venv/|dist/|coverage/|package-lock\.json|api/)
  typescript-check: any of: \.(ts|tsx)$, but not: (node_modules/|\.venv/|dist/|coverage/|api/)
  bicep-validation: any of: infrastructure/.*\.bicep$
  shell-script-validation: any of: \.sh$
  python-requirements-check: any of: api/requirements.*\.txt$

test: align localhost CORS origin expectations
  api/shared/middleware_test.py
Due: none

test: update middleware tests for async decorators
  api/shared/middleware_test.py
Due: none

fix: resolve playbook endpoint lint failures
  api/forge_api/implementation_playbook_endpoints.py
Due: none

fix: resolve eslint unused vars in forge and prompts
  src/components/forge/PRDGeneration.tsx
  src/components/forge/TechnicalAnalysisStage.tsx
  src/components/forge/__tests__/QualityGate.test.tsx
  src/components/prompt/PromptsListPage.tsx
Due: eslint, prettier, typescript-check

fix: complete architecture alignment execution
  README.md
  api/anonymous_llm_api/__init__.py
  api/forge_api/__init__.py
  api/forge_api/idea_refinement_endpoints.py
  api/forge_api/implementation_playbook_endpoints.py
  api/forge_api/prd_generation_endpoints.py
  api/shared/auth_helpers.py
  api/shared/database.py
  api/shared/quality_engine.py
  api/shared/test_auth_helpers.py
  docs/DEPLOYMENT_READINESS_CHECKLIST.md
  specs/Tasks.md
  src/components/auth/LoginPage.tsx
  src/components/auth/UnifiedAuthProvider.tsx
  src/stores/forgeStore.ts
Due: eslint, prettier, typescript-check

fix: unblock pre-push tests and finalize alignment docs
  api/forge_api/__init__.py
  api/forge_api/implementation_playbook_endpoints.py
  specs/Tasks.md
  src/components/auth/UnifiedAuthProvider.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
Due: eslint, prettier, typescript-check

test: align anonymous endpoint tests with security kill-switch
  api/anonymous_llm_api/anonymous_llm_test.py
  src/components/auth/UnifiedAuthProvider.tsx
Due: eslint, prettier, typescript-check

fix: normalize forge stage transition request_id serialization
  api/forge_api/__init__.py
Due: none

test: update database dev-mode tests for explicit mock flag
  api/shared/database_test.py
Due: none

docs: refresh readme with push-gate validation note
  README.md
Due: prettier

fix: remove stale vite chunk dependencies
  vite.config.ts
Due: eslint, prettier, typescript-check

fix: resolve ci audit gate and e2e runtime-mock startup
  docker-compose.e2e-arm64.yml
  docker-compose.e2e-no-cosmos.yml
  package-lock.json
  package.json
Due: prettier
