Repository vedprakash-m/sutra: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript, bicep-build

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: npm run format
  language: system
  pass_filenames: false

typescript:
  name: TypeScript
  entry: npm run type-check
  language: system
  pass_filenames: false

bicep-build:
  name: Bicep Build
  entry: bash -c 'cd infrastructure && az bicep build --file persistent.bicep && az bicep build --file compute.bicep'
  language: system
  pass_filenames: false

Fix pre-push validation script to use local-validation.sh
  scripts/pre-push-validation.sh
Due: none

Fix validation imports and enhance testing infrastructure
  api/collections_api/__init__.py
  api/cost_management_api/__init__.py
  api/integrations_api/__init__.py
  api/playbooks_api/__init__.py
  api/shared/unified_auth.py
  scripts/local-validation.sh
  scripts/pre-push-validation.sh
  scripts/unified-validation.sh
  src/App.test.tsx
  src/components/integrations/IntegrationsPage.tsx
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
Due: eslint, prettier, typescript

feat: Align CI/CD, infrastructure, and hooks with product documentation
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  docs/metadata.md
  infrastructure/compute.bicep
  infrastructure/persistent.bicep
  jest.config.js
  scripts/pre-push-validation.sh
  scripts/unified-validation.sh
  scripts/validate-product-alignment.sh
  src/App.test.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
  src/components/dashboard/__tests__/BusinessIntelligenceDashboard.test.tsx
  src/components/integrations/__tests__/IntegrationsPage.test.tsx
  src/services/__tests__/api.test.ts
  src/services/__tests__/enhancedMonitoring.test.ts
  src/test-setup.ts
  src/utils/__tests__/fieldConverter.test.ts
Due: eslint, prettier, typescript, bicep-build

fix: Apply automatic formatting fixes from pre-commit hooks
  docs/metadata.md
  scripts/validate-product-alignment.sh
Due: prettier

fix: Correct syntax error in unified validation script
  scripts/unified-validation.sh
Due: none

feat: implement unified auth system and fix majority of backend tests
  api/admin_api/admin_test.py
  api/anonymous_llm_api/anonymous_llm_test.py
  api/collections_api/__init__.py
  api/collections_api/collections_test.py
  api/conftest.py
  api/cost_management_api/cost_management_test.py
  api/fix_auth_tests.py
  api/guest_api/guest_api_test.py
  api/integrations_api/integrations_test.py
  api/llm_execute_api/llm_execute_test.py
  api/playbooks_api/playbooks_test.py
  api/shared/auth_test.py
  api/shared/database_error_test.py
  api/shared/error_handling.py
  api/shared/error_handling_comprehensive_test.py
  api/shared/error_handling_test.py
  api/shared/guest_user_test.py
  api/shared/middleware_test.py
  api/shared/unified_auth.py
Due: none

Update API tests and add new test files
  api/conftest.py
  api/cost_management_api/__init__.py
  api/cost_management_api/cost_management_test.py
  api/integrations_api/integrations_test.py
  api/playbooks_api/playbooks_test.py
  api/test_auth_debug.py
  api/test_cost_simple.py
  docs/metadata.md
Due: prettier

fix: Systematically fix backend test failures across all APIs
  api/PROGRESS_REPORT.md
  api/admin_api/__init__.py
  api/admin_api/admin_test.py
  api/batch_fix_playbooks.py
  api/collections_api/__init__.py
  api/collections_api/collections_test.py
  api/conftest.py
  api/cost_management_api/__init__.py
  api/cost_management_api/cost_management_test.py
  api/fix_admin_comprehensive.py
  api/fix_admin_routes.py
  api/fix_admin_surgical.py
  api/fix_admin_tests.py
  api/fix_all_admin_routes.py
  api/fix_all_collections.py
  api/fix_collections_comprehensive.py
  api/fix_collections_routes.py
  api/fix_cost_management.py
  api/fix_llm_execute.py
  api/fix_playbooks.py
  api/fix_playbooks_fixtures.py
  api/fix_playbooks_tests.py
  api/fix_remaining_admin_tests.py
  api/fix_specific_admin.py
  api/guest_llm_api/__init__.py
  api/integrations_api/__init__.py
  api/integrations_api/integrations_test.py
  api/llm_execute_api/__init__.py
  api/llm_execute_api/llm_execute_test.py
  api/playbooks_api/__init__.py
  api/playbooks_api/playbooks_test.py
  api/role_management/__init__.py
  api/shared/auth_test.py
  api/shared/unified_auth.py
  docs/metadata.md
Due: prettier

feat: Complete Azure production deployment with enhanced testing and documentation
  COMPLETION_SUMMARY.md
  DEPLOYMENT_GUIDE.md
  api/batch_fix_playbooks.py
  api/cost_management_api/__init__.py
  api/cost_management_api/cost_management_test.py
  api/fix_admin_comprehensive.py
  api/fix_admin_routes.py
  api/fix_admin_surgical.py
  api/fix_admin_tests.py
  api/fix_all_admin_routes.py
  api/fix_all_collections.py
  api/fix_collections_comprehensive.py
  api/fix_collections_routes.py
  api/fix_cost_management.py
  api/fix_llm_execute.py
  api/fix_playbooks.py
  api/fix_playbooks_fixtures.py
  api/fix_playbooks_tests.py
  api/fix_remaining_admin_tests.py
  api/fix_specific_admin.py
  api/llm_execute_api/llm_execute_test.py
  api/playbooks_api/playbooks_test.py
  api/requirements.txt
  docs/metadata.md
  scripts/configure-azure-app-registration.sh
Due: prettier

fix: Ensure all backend tests pass
  api/coverage.xml
Due: none

Fix: Update minimal requirements and handle aiohttp import for CI/CD compatibility
  api/coverage.xml
  api/requirements-minimal.txt
  api/shared/real_time_cost.py
Due: none

🔧 Fix pre-push validation script
  scripts/pre-push-validation.sh
Due: none

Complete Phase 1 & 2: Auth unification and config standardization
  docs/Tech_Spec_Sutra.md
  docs/metadata.md
  jest.config.js
  package-lock.json
  package.json
  scripts/migrate-phase2.js
  scripts/validate-phase1.js
  scripts/validate-phase2.js
  src/App.test.tsx
  src/components/admin/AdminPanel.tsx
  src/components/auth/GuestLogin.tsx
  src/components/auth/LoginPage.tsx
  src/components/auth/UnifiedAuthProvider.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
  src/components/collections/CollectionsPage.tsx
  src/components/collections/__tests__/CollectionsPage.test.tsx
  src/components/dashboard/BusinessIntelligenceDashboard.tsx
  src/components/dashboard/Dashboard-new.tsx
  src/components/dashboard/Dashboard.test.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/integrations/IntegrationsPage.tsx
  src/components/layout/NavBar.tsx
  src/components/playbooks/PlaybookBuilder.tsx
  src/components/prompt/PromptBuilder.tsx
  src/config/__legacy_backup/authConfig.ts
  src/config/__legacy_backup/runtime.ts
  src/config/__legacy_backup/unifiedAuthConfig.ts
  src/config/__mocks__/index.ts
  src/config/index.ts
  src/hooks/useApi.ts
  src/services/api.ts
Due: eslint, prettier, typescript

Phase 4 Complete: 100% test pass rate
  README.md
  api/PROGRESS_REPORT.md
  api/debug_auth/function.json
  api/integrations_api_fixed/function.json
  api/test_auth_decorator/function.json
  api/test_imports/function.json
  docs/PHASE_4_SUCCESS_SUMMARY.md
  docs/Tech_Spec_Sutra.md
  docs/User_Experience.md
  docs/metadata.md
  package-lock.json
  scripts/migrate-phase2.js
  scripts/validate-phase1.js
  scripts/validate-phase2.js
  scripts/validate-phase3.js
  src/App.test.tsx
  src/App.tsx
  src/__mocks__/@azure/msal-browser.ts
  src/components/auth/AuthProvider.tsx
  src/components/auth/LoginPage.tsx
  src/components/auth/MSALAuthProvider.tsx
  src/components/auth/UnifiedAuthProvider.tsx
  src/components/auth/__tests__/AuthProvider.test.tsx
  src/components/auth/__tests__/GuestLogin.test.tsx
  src/components/auth/__tests__/LoginPage.test.tsx
  src/config/__legacy_backup/authConfig.ts
  src/config/__legacy_backup/runtime.ts
  src/config/__legacy_backup/unifiedAuthConfig.ts
  src/config/index.ts
  src/services/__tests__/api.test.ts
  src/services/api.ts
  src/test-setup.ts
  vite.config.ts
Due: eslint, prettier, typescript

Add unified validation script and index.html
  index.html
  scripts/unified-validation.sh
Due: none

🔧 Resolve CI/CD validation gap with comprehensive dependency management
  CI_CD_VALIDATION_SOLUTION_REPORT.md
  COMMIT_MESSAGE.md
  README.md
  VALIDATION_STRATEGY.md
  api/coverage.xml
  api/requirements-minimal.txt
  index.html
  scripts/unified-validation.sh
Due: prettier

Fix CI/CD E2E validation infrastructure
  .pre-commit-config.yaml
  E2E_VALIDATION_SOLUTION_REPORT.md
  README.md
  api/anonymous_llm_api/__init__.py
  api/getroles/__init__.py
  api/guest_api/__init__.py
  api/health/__init__.py
  api/shared/auth.py
  api/shared/auth_mocking.py
  api/shared/auth_static_web_apps.py
  api/shared/budget.py
  api/shared/budget_test.py
  api/shared/database_test.py
  api/shared/guest_user.py
  api/shared/middleware.py
  api/shared/models.py
  api/shared/utils/__init__.py
  api/shared/utils/fieldConverter.py
  api/shared/utils/schemaValidator.py
  api/shared/validation_comprehensive_test.py
  infrastructure/compute.json
  infrastructure/persistent.json
  package-lock.json
  package.json
  scripts/e2e-cleanup.sh
  scripts/e2e-logs.sh
  scripts/e2e-services.sh
  scripts/e2e-setup-enhanced.sh
  scripts/unified-validation.sh
  scripts/validate-e2e.sh
Due: prettier

Update package dependencies and configuration files
  package-lock.json
  package.json
  scripts/unified-validation.sh
  tailwind.config.js
Due: eslint, prettier

feat: finalize pre-commit and CI/CD code quality enforcement
  .githooks/commit-msg
  .githooks/pre-push
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  README.md
  infrastructure/compute.json
  infrastructure/persistent.json
  scripts/setup-git-hooks.sh
Due: prettier

fix: resolve Bicep/end-of-file-fixer hook cycle
  .pre-commit-config.yaml
Due: prettier

fix: resolve CI/CD symlink failures and add cross-platform validation
  .gitignore
  .pre-commit-config.yaml
  .venv-test/bin/Activate.ps1
  .venv-test/bin/activate
  .venv-test/bin/activate.csh
  .venv-test/bin/activate.fish
  .venv-test/bin/coverage
  .venv-test/bin/coverage3
  .venv-test/bin/dotenv
  .venv-test/bin/httpx
  .venv-test/bin/normalizer
  .venv-test/bin/pip
  .venv-test/bin/pip3
  .venv-test/bin/py.test
  .venv-test/bin/pytest
  .venv-test/bin/python
  .venv-test/bin/python3
  .venv-test/bin/wheel
  .venv-test/pyvenv.cfg
  SETUP_VALIDATION_REPORT.md
  scripts/cross-platform-validation.sh
  scripts/unified-validation.sh
Due: prettier

docs: add cross-platform CI/CD best practices documentation
  README.md
  docs/Cross-Platform-CI-CD-Best-Practices.md
Due: prettier

style: apply pre-commit auto-fixes
  README.md
  docs/Cross-Platform-CI-CD-Best-Practices.md
  scripts/cross-platform-validation.sh
Due: prettier

fix: resolve Bicep validation CI/CD failure
  .pre-commit-config.yaml
  README.md
  scripts/build-bicep.sh
Due: prettier

docs: reorganize markdown files into docs folder
  docs/PROGRESS_REPORT.md
  docs/SETUP_VALIDATION_REPORT.md
  docs/TEST_AUTH_MIGRATION.md
Due: prettier

fix(tests): Fix LLMManager test initialization in CI environment
  SETUP_VALIDATION_REPORT.md
  api/coverage.xml
  api/shared/llm_client_test.py
Due: prettier

fix(git-hooks): Use python3 -m pre_commit for cross-platform compatibility
  .githooks/pre-push
Due: none

fix(ci): Use core scope for unified validation to exclude E2E tests
  .github/workflows/ci-cd.yml
Due: prettier

fix(ci): resolve frontend validation hang by fixing TypeScript version compatibility
  api/coverage.xml
  package-lock.json
  package.json
  scripts/unified-validation.sh
Due: prettier

feat(ci): comprehensive CI/CD failure prevention and troubleshooting system
  .githooks/pre-push
  README.md
  api/coverage.xml
  docs/CI_CD_Troubleshooting.md
  scripts/pre-ci-validation.sh
  scripts/unified-validation.sh
Due: prettier

feat(ci): comprehensive CI/CD validation improvements
  README.md
  docs/CI_CD_Troubleshooting.md
  scripts/pre-ci-validation.sh
  scripts/unified-validation.sh
Due: prettier

fix(scripts): use python3 -m pip for cross-platform compatibility
  scripts/local-validation.sh
  scripts/pre-ci-validation.sh
Due: none

fix: Improve pre-commit installation in pre-push validation script
  scripts/pre-ci-validation.sh
Due: none

fix: resolve CI/CD E2E setup failure due to output stream contamination
  docs/metadata.md
  scripts/e2e-setup-enhanced.sh
  scripts/unified-validation.sh
  scripts/validate-e2e-comprehensive.sh
  scripts/validate-e2e.sh
Due: prettier

style: fix formatting issues found by pre-commit hooks
  docs/metadata.md
  scripts/e2e-setup-enhanced.sh
  scripts/validate-e2e-comprehensive.sh
Due: prettier

fix(ci): resolve Docker configuration CI/CD failure with comprehensive validation
  .pre-commit-config.yaml
  README.md
  api/Dockerfile.dev
  docs/Root-Cause-Analysis-Docker-CI-CD-Failure.md
  docs/metadata.md
  local-dev/validate.sh
  scripts/local-validation.sh
  scripts/validate-docker-config.sh
  scripts/validate-e2e-environment.sh
Due: prettier

fix: apply pre-commit hook formatting fixes
  docs/Root-Cause-Analysis-Docker-CI-CD-Failure.md
  docs/metadata.md
  scripts/validate-e2e-environment.sh
Due: prettier

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|md|yml|yaml)$, but not: (node_modules/|\.venv/|dist/|coverage/)
  typescript: any of: \.(ts|tsx)$
  bicep-build: any of: \.bicep$
